{% extends 'base.html' %}
{% block title %}Gallery{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}
{% block content %}
    <div class="container"></div>
        <aside>
            <a href="#anchor">Engagement</a>
            <a href="#getting-ready">Getting Ready</a>
            <a href="#mr-and-mrs">Mr. & Mrs.</a>
            <a href="#portraits">Portraits</a>
            <a href="#reception">Reception</a>
            <a href="#rings">Rings</a>
        </aside>
    </div>
    <div id="anchor"></div>
    <h1 id="engagement">Engagement</h1>
    <ul>
        {% for i in engagement_pictures %}
            <img src="{{ url_for('static', filename='images/Engagement/' + i) }}" alt="{{ i }}" />
        {% endfor %}
    </ul>
    <hr>
    <h1 id="getting-ready">Getting Ready</h1>
    <ul>
        {% for i in getting_ready_pictures %}
            <img src="{{ url_for('static', filename='images/Getting ready/' + i) }}" alt="{{ i }}" />
        {% endfor %}
    </ul>
    <hr>
    <h1 id="mr-and-mrs">Mr. & Mrs.</h1>
    <ul>
        {% for i in mr_and_mrs_pictures %}
            <img src="{{ url_for('static', filename='images/Mr & Mrs/' +i) }}" alt="{{ i }}" />
        {% endfor %}
    </ul>
    <hr>
    <h1 id="portraits">Portraits</h1>
    <ul>
        {% for i in portraits_pictures %}
            <img src="{{ url_for('static', filename='images/Portraits/' + i) }}" alt="{{ i }}" />
        {% endfor %}
    </ul>
    <hr>
    <h1 id="reception">Reception</h1>
    <ul>
        {% for i in reception_pictures %}
            <img src="{{ url_for('static', filename='images/Reception/' + i) }}" alt="{{ i }}" />
        {% endfor %}
    </ul>
    <hr>
    <h1 id="rings">Rings</h1>
    <ul>
        {% for i in rings_pictures %}
            <img src="{{ url_for('static', filename='images/Rings/' + i) }}" alt="{{ i }}" />
        {% endfor %}
    </ul>
    <div class="lampshade"></div>
{% endblock %}