{% extends 'base.html' %}
{% block title %}Guest List{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" src="{{ url_for('static', filename='css/guest-list.css') }}">
{% endblock %}
{% block content %}
    <h1>Special Thanks</h1>
    <ul>
        <li>Eric and Iveth - Photography</li>
        <li>A Seat at the Table - Catering</li>
    </ul>
    <h1>Guest List</h1>
    <ul>
        <li>Eric Todd</li>
        <li>Caitlyn Todd</li>
        <li>Caila</li>
        <li>Britania</li>
        <li>Jessie Borja</li>
        <li>Dorian Holmes</li>
        <li>Sarah Johnson</li>
        <li>Silver Sepmeier</li>
        <li>Stanton Streck</li>
        <li>Becky Bowers</li>
        <li>Chris Bowers</li>
        <li>Dakota Bowers</li>
        <li>Devin Bowers</li>
        <li>Gabby Bowers</li>
        <li>Brenna Brockelsby</li>
        <li>Chris Brockelsby</li>
        <li>Zoey Brockelsby</li>
        <li>Eljay Brockelsby</li>
        <li>Patricia Jones</li>
        <li>Dennis Todd</li>
        <li>Jordan Jones</li>
        <li>Dana Jones</li>
        <li>August Jones</li>
        <li>Phyllis Baugh</li>
        <li>Raul Carillo</li>
    </ul>
{% endblock %}