:root {
    --eerie-black: #23251F;
    --bistre: #40271B;
    --rust: #A64C21;
    --beaver: #9F7E6F;
    --dim-gray: #656B73;
    --earth-yellow: #F1B26A;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    color: var(--bistre);
    font-size: 21px;
    text-shadow: 0px 0px 3px var(--beaver);
    background-color: var(--beaver);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

nav {
    height: 48px;
    background-color: var(--earth-yellow);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid var(--eerie-black);
    position: sticky;
    top: 0;
}

nav > a {
    text-decoration: none;
    color: var(--bistre);
    transition: 0.15s;
}

nav > a:hover {
    color: var(--rust);
    text-shadow: 0px 0px 5px var(--rust);
    font-size: 22px;
}

nav > a:active {
    color: var(--dim-gray);
}

main {
    min-height: calc(100vh - 50px);
    width: 100%;
}

footer {
    height: 98px;
    width: 100%;
    background-color: var(--earth-yellow);
    border-top: 2px solid var(--eerie-black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cne {
    font-size: 45px;
}

.cne:hover {
    font-size: 47px;
}